<form
  action="/api/user/signup"
  method="POST"
  class="mt-5"
  style="
    input:invalid {
      border: red solid 1px;
    }
    input:valid {
      border: green solid 1px;
    }
  "
>
  <div class="form-group">
    <label for="inputNickName">Отображаемое имя</label>
    <input
      type="text"
      placeholder="Отображаемое имя"
      name="nickname"
      class="form-control"
      id="inputNickName"
      pattern="/^(?=.*\d)[a-zA-Z]+[a-zA-Z0-9-_.]{6,13}$/"
      required
    />
    <span class="form_hint_span"
      >Начинается и кончается на букву/цифру и содержит не более двух ""/"-" и
      не подряд.</span
    >
  </div>

  <div class="form-group">
    <label for="inputUserName">Логин</label>
    <input
      type="text"
      placeholder="Имя пользователя"
      name="username"
      class="form-control"
      id="inputUserName"
      pattern="/^(?=.*\d)[a-zA-Z]+[a-zA-Z0-9-_.]{7,15}$/"
      required
    />
    <p>
      <small
        >длина 8-15 символов латиницы заглавных или прописных, разрешены цифры,
        без пробелов</small
      >
    </p>
  </div>

  <div class="form-group">
    <label for="inputPass">Пароль</label>
    <input
      type="password"
      placeholder="Пароль"
      name="password"
      class="form-control"
      id="inputPass"
      pattern="/^(?=.*\d)[a-zA-Z]+[a-zA-Z0-9-_.]{7,15}$/"
      required
    />
    <p>
      <small
        >длина 8-15 символов латиницы заглавных или прописных, разрешены цифры,
        без пробелов</small
      >
    </p>
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary">Войти</button>
  </div>
</form>
