<%- include('../port/layout-start.view', {title: title}) %>
<%- include('../port/menu.view') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
    </div>
</div>

<%- include('../port/layout-end.view') %>